# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
backend/venv/
env/

# Environment variables
.env
backend/.env

# IDEs
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Databases
*.sqlite3
*.db

# Logs
*.log
